<mat-toolbar color="primary" class="header-toolbar">
  <!-- Logo -->
  <div class="logo-container">
    <img src="Logo.jpeg" alt="Trip & Tour Conect Logo" class="logo" />
  </div>
  
  <!-- Links de Navegação -->
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about-us" routerLinkActive="active">Sobre Nós</a>
    <a routerLink="/attractions-page" routerLinkActive="active">Fazer uma Reserva</a>
    <a routerLink="/reservations-page" routerLinkActive="active">Minhas Reservas</a>
  </div>
</mat-toolbar>
