.header-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed; /* Barra fixa no topo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura da página */
  height: 80px;
  background-color: #04464c; /* Fundo para contraste ao rolar */
  z-index: 1000; /* Garante que a barra fique sobre outros elementos */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.logo-container {
  position: absolute;
  left: 20px;
}

.logo {
  height: 40px; /* Ajuste a altura da logo conforme necessário */
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #3d8f84;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  padding: 5px 0;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #3d8f84;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  transform: scaleX(1);
}
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-toolbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .logo-container {
    position: static;
    margin-bottom: 0;
  }

  .logo {
    height: 30px;
  }

  /* Oculta os links e exibe o ícone do menu sanduíche */
  .nav-links {
    display: none; /* Oculto por padrão no mobile */
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #04464c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu-icon {
    display: block;
    color: #3d8f84;
  }

  .nav-links a {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Classe para mostrar o menu quando ativo */
.nav-links.active {
  display: flex;
}
