<div class="about-us-container">
    <mat-card class="about-us-card">
      <mat-card-header>
        <mat-card-title>Sobre Nós</mat-card-title>
        <mat-card-subtitle>Bem-vindo ao Trip & Tour Conect</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Nosso objetivo é proporcionar as melhores experiências de turismo para você.</p>
        <h3>Contatos</h3>
        <div class="contact-info">
            <p><img src="whatsapp.png" alt="WhatsApp" class="icon"> WhatsApp: <a href="https://wa.me/5545988095733" target="_blank">+55 45 8809-5733</a></p>          <p><mat-icon color="primary">email</mat-icon> Email: <a href="mailto:contato@tripandtour.com">triptourconnect&#64;gmail.com</a></p>
          <p><img src="instagram.png" alt="Instagram" class="icon"> Instagram: <a href="https://instagram.com/seu_perfil" target="_blank">&#64;triptourconnect</a></p>
          <p><mat-icon color="primary">facebook</mat-icon> Facebook: <a href="https://facebook.com/seu_perfil" target="_blank">https://www.facebook.com/profile.php?id=61568256867065</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  