
.filter-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .attractions-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px;
  }
  
  .attraction-card {
    padding: 15px;
    text-align: left;
  }
  